.idea
.vscode
.DS_Store
.gradle
.github/*
!.github/FUNDING.yml
!.github/workflows/
.github/workflows/*
!.github/workflows/release-ota.yml
.settings
*build
*.jks
*.properties
lib-*.aar
/Release
/docs/*
!/docs/OTA_RELEASE.md
